<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularFire</title>
	<!-- Stylesheet -->
	<link rel="stylesheet" href="style.css">
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
	<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	<!-- Javascript Files -->
	<script src="app.js"></script>

</head>
<body ng-app="MyTodoList" ng-controller="myCtrl">
	<div class="container">
		<div class="row">
			<h1>Mitch's Todo App</h1>
			<form>
				<label>Create a new todo: <input type="text" ng-model="$scope.newTodo" ng-init=""/></label>
				<input type="submit" ng-click="addTodo($scope)" placeholder="Add a todo"></input>
			</form>

			<div ng-repeat="x in todos">
				<ul>
			    	<li><p>Todo: {{x.body}} <button ng-click="removeTodo($scope, x.key)">X</button></p></li>
			    </ul>
			</div>
		</div>
	</div>

</body>
</html>